
body {
    background-color: rgb(68,68,68);
    font-size: 18px;
    color: rgb(238,238,238);
    font-family: Helvetica;
    text-align: 
}
h1 {
    text-align: center;
    Font-style:italic;
    font-family: serif;
    
}
nav {
    text-align: center;
}
h2 {
    text-align: left
}
footer {
    text-align: center;
    margin-top: 60px
}
p {
    text-align:
}